<!-- _homepage.html.erb -->
<section class="Homepage">
  <% unless current_user %>
    <h1 class="LoginLogo">WealthO</h1>
  <% end %>
  <% if current_user %>
  <div class="HomepageContent">
    <p>Home page</p>
  </div>
  <% end %>
</section>
