.DIR {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
}

.LoginPage {
  display: grid;
  place-items: center;
}

.LoginLogo {
  text-align: center;
  color: #444;
  font-size: 15vw;
  padding: 65% 0 40% 0;
}

.LoginUl a,
ul {
  text-decoration: none;
  list-style: none;
  color: #444;
}

.LoginUl {
  display: grid;
  font-size: 25px;
  padding: 3vw;
  border-radius: 8px;
  gap: 10px;
  font-variant-caps: all-petite-caps;
}

.Glow {
  background-color: #4079bb;
}

.LoginLi {
  padding: 5vw 32vw 5vw 32vw;
}

.LogInHeader {
  text-align: center;
  width: 100%;
  background-color: #3778c2;
  font-variant-caps: all-petite-caps;
  color: white;
  padding: 2%;
}

.LogInGroup {
  padding: 5vw 0 0 0;
}

.LogInField input {
  width: 100%;
  height: 40px;
  font-size: 5vw;
}

.LoginNext input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 3.5vw;
  right: 3.5vw;
  color: white;
  font-size: 18px;
}

.ForgotPassword a {
  text-decoration: none;
  color: gray;
}

.ForgotPassword {
  text-align: center;
  margin-top: 5vw;
}

/* Sign up page */

.SignUpPage {
  display: grid;
  place-items: center;
}

.SignUpHeader {
  text-align: center;
  width: 100%;
  background-color: #3778c2;
  font-variant-caps: all-petite-caps;
  color: white;
  padding: 2% 0 2% 0;
}

.SignUpField {
  padding: 2vh 0;
}

.SignUpField label {
  display: none;
}

.SignUpField input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 8px 0 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.SignUpActions {
  text-align: center;
  margin-top: 20px;
}

.SignUpActions input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4079bb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SignUpActions input[type="submit"]:hover {
  background-color: #3069a8;
}

/* Home/Categories page */

.CatNav {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  color: white;
  gap: 25vw;
  font-size: 5vw;
  padding: 6vw 0 6vw 0;
}

.CatNavLines {
  rotate: 90deg;
}

.SignOut {
  border: none;
  background-color: #3778c200;
  color: white;
  font-size: 5vw;
}

.CatFoot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5fb523;
  text-align: center;
  display: grid;
  place-items: center;
}

.AddCatButton {
  background-color: #3778c200;
  border: 1px solid white;
  padding: 4vw 25vw 4vw 25vw;
  margin: 5vw 0 5vw 0;
  color: white;
  font-size: 5vw;
}

.CatList {
  color: gray;
  margin-top: 30px;
}

.CatTitle {
  font-size: 6vw;
  padding-bottom: 2vw;
}

.CatPrice {
  color: rgb(63, 63, 63);
  font-size: 6vw;
  font-weight: 700;
  padding-left: 18vw;
}

.CatContent {
  display: flex;
  align-items: center;
}

.ImgDiv {
  width: 100px;
  height: 100%;
}

.ImgDiv img {
  width: 100%;
  height: auto;
}

.CatDesc {
  margin-left: 10px;
}

/* Add categories */

.ACatNav {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  color: white;
  gap: 20vw;
  font-size: 5vw;
  padding: 6vw 0 6vw 0;
}

.ASignOut {
  border: none;
  background-color: #3778c200;
  color: white;
  font-size: 5vw;
}

/* New Category */
.CatField {
  margin-bottom: 15px;
  width: 99%;
}

.CatCreateField {
  margin-bottom: 15px;
  width: 99%;
}

.CatLabel {
  font-weight: bold;
}

.CatInput {
  width: 100%;
  padding: 10px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.CatActions {
  text-align: center;
  width: 100%;
  background-color: #5fb523;
  border: solid 1px white;
  position: fixed;
  bottom: 0.1px;
  left: 0.1px;
}

.CatButton {
  background-color: #4caf4f00;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px white;
  padding: 5% 20% 5% 20%;
  font-size: 5vw;
  margin: 5%;
}

.CatButton:hover {
  background-color: #45a049;
}

/* Transaction page */

.TranNav {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  color: white;
  gap: 25vw;
  font-size: 5vw;
  padding: 6vw 0 6vw 0;
}

.TranFoot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5fb523;
  text-align: center;
  display: grid;
  place-items: center;
}

.TranList {
  color: gray;
  margin-top: 30px;
}

.TranTitle {
  font-size: 6vw;
  padding-bottom: 2vw;
}

.TranPrice {
  color: rgb(63, 63, 63);
  font-size: 6vw;
  font-weight: 700;
  padding-left: 18vw;
}

.TranContent {
  display: flex;
  align-items: center;
}

.TranDesc {
  margin-left: 10px;
}

/* Transaction list */

.NewTranContent {
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  margin: 5px 5% 5px 5%;
  padding: 2%;
  font-size: 5vw;
  color: gray;
}

.NewTranDesc {
  padding-right: 50%;
}

.NewTranPrice {
  color: black;
}

/* New Transaction */

.ATranName {
  padding: 5% 0 0 5%;
  font-size: 5vw;
}

.ATranName > input[type="text"] {
  width: 90%;
  padding: 3%;
  border-radius: 8px;
  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(230, 230, 230);
}

.ATranPrice {
  padding: 5% 0 0 5%;
  font-size: 5vw;
}

.ATranPrice > input[type="number"] {
  width: 90%;
  padding: 3%;
  border-radius: 8px;
  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(230, 230, 230);
}

.ATranCat {
  padding: 5% 0 0 5%;
  font-size: 5vw;
}

.ATranCreate {
  position: fixed;
  bottom: 0.1px;
  left: 0.1px;
  width: 100%;
  background-color: #5fb523;
  display: grid;
  place-items: center;
}

.ATranCreate input[type="submit"] {
  padding: 5%;
  font-size: 5vw;
  border: white 1px solid;
  background-color: #3778c200;
  margin: 5%;
  color: white;
}

.ATranCatName {
  width: 90%;
  padding: 3%;
  border-radius: 8px;
  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(230, 230, 230);
}
