.DIR {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
}

.LoginPage {
  display: grid;
  place-items: center;
}

.LoginLogo {
  text-align: center;
  color: #444444;
  font-size: 15vw;
  padding: 65% 0 40% 0;
}

.LoginUl a, ul {
  text-decoration: none;
  list-style: none;
  color: #444444;
}

.LoginUl {
  display: grid;
  font-size: 25px;
  padding: 3vw;
  border-radius: 8px;
  gap: 10px;
  font-variant-caps: all-petite-caps;
}

.Glow {
  background-color: #4079bb;
}

.LoginLi {
  padding: 5vw 32vw 5vw 32vw;
}

.LogInHeader {
  text-align: center;
  width: 100%;
  background-color: #3778c2;
  font-variant-caps: all-petite-caps;
  color: white;
  padding: 2%;
}

.LogInGroup {
  padding: 5vw 0 0 0;
}

.LogInField input {
  width: 100%;
  height: 40px;
  font-size: 5vw;
}

.LoginNext input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 3.5vw;
  right: 3.5vw;
  color: white;
  font-size: 18px;
}

.ForgotPassword a {
  text-decoration: none;
  color: gray;
}

.ForgotPassword {
  text-align: center;
  margin-top: 5vw;
}

/* Home/Categories page*/

.CatNav {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  color: white;
  gap: 25vw;
  font-size: 5vw;
  padding: 6vw 0 6vw 0;
}
.CatNavLines {
  rotate: 90deg;
}

.SignOut {
  border: none;
  background-color: #3778c200;
  color: white;
  font-size: 5vw;
}

.CatFoot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5fb523;
  text-align: center;
  display: grid;
  place-items: center;
}

.AddCatButton {
  background-color: #3778c200;
  border: 1px solid white;
  padding: 4vw 25vw 4vw 25vw;
  margin: 5vw 0 5vw 0;
  color: white;
  font-size: 5vw;
}

.CatList {
  color: gray;
  margin-top: 30px;
}

.CatTitle {
  font-size: 6vw;
  padding-bottom: 2vw;
}

.CatPrice {
  color: rgb(63, 63, 63);
  font-size: 6vw;
  font-weight: 700;
  padding-left: 18vw;
}

.CatContent {
  display: flex;
  align-items: center;
}

.ImgDiv {
  width: 100px;
  height: 100%;
}

.ImgDiv img {
  width: 100%;
  height: auto;
}

.CatDesc {
  margin-left: 10px;
}

/* Add categories */

.ACatNav {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  color: white;
  gap: 20vw;
  font-size: 5vw;
  padding: 6vw 0 6vw 0;
}
.ACatNavLines {
  rotate: 90deg;
}

.ASignOut {
  border: none;
  background-color: #3778c200;
  color: white;
  font-size: 5vw;
}

/* Transaction page */

.TranNav {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  color: white;
  gap: 20vw;
  font-size: 5vw;
  padding: 6vw 0 6vw 0;
}
.TranNavLines {
  rotate: 90deg;
}

.TranNav {
  display: flex;
  justify-content: center;
  background-color: #3778c2;
  color: white;
  gap: 25vw;
  font-size: 5vw;
  padding: 6vw 0 6vw 0;
}
.TranNavLines {
  rotate: 90deg;
}

.SignOut {
  border: none;
  background-color: #3778c200;
  color: white;
  font-size: 5vw;
}

.TranFoot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5fb523;
  text-align: center;
  display: grid;
  place-items: center;
}

.AddCatButton {
  background-color: #3778c200;
  border: 1px solid white;
  padding: 4vw 25vw 4vw 25vw;
  margin: 5vw 0 5vw 0;
  color: white;
  font-size: 5vw;
}

.TranList {
  color: gray;
  margin-top: 30px;
}

.TranTitle {
  font-size: 6vw;
  padding-bottom: 2vw;
}

.TranPrice {
  color: rgb(63, 63, 63);
  font-size: 6vw;
  font-weight: 700;
  padding-left: 18vw;
}

.TranContent {
  display: flex;
  align-items: center;
}

.ImgDiv {
  width: 100px;
  height: 100%;
}

.ImgDiv img {
  width: 100%;
  height: auto;
}

.TranDesc {
  margin-left: 10px;
}